<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617043474071-slqi6658qbh5mjo4uvnods2vo3b6r9k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617043474071-slqi6658qbh5mjo4uvnods2vo3b6r9k0</string>
	<key>API_KEY</key>
	<string>AIzaSyB8WlCGsJKwDkMhJwhDKwrgTPjGhAPUiYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>617043474071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ie.infiniteloop.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ec7ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ec7ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617043474071:ios:d5100cf3d9f39625</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ec7ba.firebaseio.com</string>
</dict>
</plist>